import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { [MODULE]Entity } from './[MODULE].Entity';
import {HttpService} from '../../../shared/HttpService';
@Injectable()
export class [MODULE]Service extends HttpService<[MODULE]Entity>  {
    constructor(HttpClient: HttpClient) {
        super(HttpClient,'api/[MODULES]');
    }
}